<div class="container">
  <div class="entity">Payments</div>
  <div class="addNew">
    <button class="addCustomer" type="button" (click)="addPayment()">Create New Payment</button>
  </div>
</div>

<div class="paymentscontainer col-md-12">
  <div class="searchFilterContainer">
    <div class="searchContainer">
      <input type="text" placeholder="Enter text to search" />
    </div>
  </div>
  <div class="gridContainer">
    <div *ngFor="let payment of columns">
      <div class="header {{payment.valueKey}}" title="{{payment.title}}">{{payment.name}}</div>
      <div class="customer-list" *ngFor="let data of rows; let i=index">
        <div [ngSwitch]="payment.field">
          <div *ngSwitchCase="'link'">
            <div class="datarow">
              <app-gridlink [param]="data[payment.valueKey]" [data]="data"></app-gridlink>
            </div>
          </div>
          <div *ngSwitchCase="'text'">
            <div class="datarow" [title]="data[payment.valueKey]">{{data[payment.valueKey]}}</div>
          </div>
        </div>
        <div class="rowSeperator" *ngIf="(rows.length-1) != i"></div>

      </div>
    </div>
  </div>
</div>

