.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paymentscontainer {
  /*display:flex;*/
  border: 1px solid #D3D3D3;
  height: 60vh;
  width: 83vw;
  margin: 30px 0px 0px 20px;
  background-color: #fff;
  padding-top: 5px;
  overflow: auto;
}

.header {
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-size: small;
  font-weight: bold;
  width: 8rem;
  border-bottom: 1px solid #BFBFBF;
  line-height: 3;
}

  .header.emailAddress {
    width: 10rem;
    /*background-color: red;*/
  }

.datarow {
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-size: small;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.5;
}


.container {
  display: flex;
  margin-top: 20px;
}

.entity {
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-size: 24px;
  width: 8rem;
  font-weight: 500;
}

.addCustomer {
  background-color: #6666FF; /*#D580FF;;*/
  color: #fff;
  border-radius: 3px;
  border: 0px;
  font-size: small;
  height: 27px;
}

.addNew {
  margin-top: 7px;
}

.rowSeperator {
  border-bottom: 1px solid #D9D9D9;
}
/*.customersContainer .customer-list .rowSeperator:last-child {
  border: none;
}
*/
.searchFilterContainer {
  display: flex;
  float: left;
  margin-top: 17px;
  font-size: small;
}

.gridContainer {
  display: flex;
  float: left;
  height: 60vh;
  overflow: auto;
}

div::-webkit-scrollbar {
  background: #fff;
  width: 5px;
  height: 15px;
}

div::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}

.active {
  color: #008000;
  font-weight: bold;
}

.inactive {
  color: #FFA500;
  font-weight: bold;
}

.risk {
  color: #FF0000;
  font-weight: bold;
}
::ng-deep .modal-content {
  width: 60% !important;
  left: 5rem;
  height: 81vh;
  top: 2rem;
  /*overflow: auto;*/
}

::ng-deep .modal-dialog {
  height: 106vh;
}
.datarow:first-child {
    width:7rem;
}
