<div class="container">
  <div class="entity">Settings</div>
</div>

<div class="settingscontainer col-md-12">
  <div class="gridContainer">
    <div class="setting-options">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
      <span>
        Emails when someone applies for loan
      </span>
    </div>
    <div class="setting-options">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
      <span>
        Email me whenever encounter unusual activity
      </span>
    </div>
    <div class="setting-options">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
      <span>
        Notify me by email about sales and latest news 
      </span>
    </div>
    <div class="setting-options">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <span>
        Email me about new features and updates
      </span>
    </div>
    <div class="setting-options">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <span>
        Email me about tips on using account
      </span>
    </div>
  </div>
</div>

